<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Boards</key>
	<array>
		<dict>
			<key>width</key>
			<integer>10</integer>
			<key>height</key>
			<integer>10</integer>
			<key>words</key>
			<array>
				<string>BOOK</string>
				<string>CAT</string>
				<string>PLATE</string>
			</array>
			<key>grid</key>
			<array>
				<string>ACDTSLMQRP</string>
				<string>TSMBAEINWX</string>
				<string>JIOALPSVME</string>
				<string>BEBOOKOHWU</string>
				<string>EFDUPSRPVA</string>
				<string>PBCTNGDMEK</string>
				<string>LAWMYNCCTK</string>
				<string>AOAILXEAGS</string>
				<string>TYKMYADIJL</string>
				<string>EVZHFITHKR</string>
			</array>
		</dict>
		<dict>
			<key>width</key>
			<integer>10</integer>
			<key>height</key>
			<integer>10</integer>
			<key>words</key>
			<array>
				<string>BUMP</string>
				<string>FLOWER</string>
				<string>WINDOW</string>
				<string>FAN</string>
				<string>RABBIT</string>
				<string>SHOE</string>
			</array>
			<key>grid</key>
			<array>
				<string>WBLMERBUMP</string>
				<string>CFLOWERWHO</string>
				<string>ARQMIPGGSN</string>
				<string>BJVDNFXFJY</string>
				<string>VAOSDTKARR</string>
				<string>IMLYOZONTA</string>
				<string>LSKJWCNIEB</string>
				<string>KRPFORRSOB</string>
				<string>OSHOESDMHI</string>
				<string>YAGNZBTUVT</string>
			</array>
		</dict>
		<dict>
			<key>width</key>
			<integer>10</integer>
			<key>height</key>
			<integer>10</integer>
			<key>words</key>
			<array>
				<string>CHAIR</string>
				<string>KNOT</string>
				<string>BOWL</string>
				<string>RUG</string>
				<string>MICROWAVE</string>
				<string>BED</string>
				<string>HAMMER</string>
				<string>BASKET</string>
				<string>GRASS</string>
				<string>BROOM</string>
			</array>
			<key>grid</key>
			<array>
				<string>AKNOTKDMPR</string>
				<string>CSCBOWLIHU</string>
				<string>GTRBUJICGG</string>
				<string>RBHAMMERFN</string>
				<string>ARBSVHEOMB</string>
				<string>SALKQMOWJE</string>
				<string>SLFEWRIAOD</string>
				<string>PZJTSPXVML</string>
				<string>YBROOMNELW</string>
				<string>CHAIREYTKA</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
